**Tabla de contenido**

- [Librerías](#Lib)
- [Formatos de fechas](#formatos-de-fechas)

# Lib

In [2]:
import pandas as pd
import os

In [3]:
path_data = os.path.join(os.getcwd(),'data')
path_file = lambda x: os.path.join(path_data, x)

In [4]:
# lectura de datos
pd = pd.read_csv(path_file('TFM_Table_Store.csv'), sep=';')
pd.head()

,Store_ID,City,Open_Date,Zip_Code,Phone,Email
0,1,San Antonio,2003-07-24 21:45:30,78015,2136875667,store1@retail.com
1,2,San Antonio,2005-10-27 07:01:09,78201,2135167236,store2@retail.com
2,3,San Antonio,2007-02-01 16:59:13,78112,2123501192,store3@walmart.com
3,4,Houston,2004-07-17 00:28:08,77001,3129778178,store4@walmart.com
4,5,Houston,2009-04-23 01:08:37,77002,7136191883,store5@store.com

# formatos de fechas

- `%Y`: Año con cuatro dígitos (por ejemplo, 2024).
- `%y`: Año con dos dígitos (por ejemplo, 24).
- `%m`: Mes como número decimal (01 a 12).
- `%B`: Nombre completo del mes (por ejemplo, Enero).
- `%b`: Nombre abreviado del mes (por ejemplo, Ene).
- `%d`: Día del mes como número decimal (01 a 31).
- `%A`: Nombre completo del día de la semana (por ejemplo, Lunes).
- `%a`: Nombre abreviado del día de la semana (por ejemplo, Lun).
- `%H`: Hora (reloj de 24 horas) como número decimal (00 a 23).
- `%I`: Hora (reloj de 12 horas) como número decimal (01 a 12).
- `%p`: AM/PM.
- `%M`: Minuto como número decimal (00 a 59).
- `%S`: Segundo como número decimal (00 a 61).
- `%f`: Microsegundo como número decimal (000000 a 999999).
- `%z`: Desplazamiento UTC (por ejemplo, +0100).
- `%Z`: Nombre de la zona horaria (por ejemplo, CET).
- `%j`: Día del año como número decimal (001 a 366).
- `%U`: Número de la semana del año (domingo como primer día de la semana) como número decimal (00 a 53).
- `%W`: Número de la semana del año (lunes como primer día de la semana) como número decimal (00 a 53).
- `%c`: Representación de fecha y hora apropiada para la configuración regional.
- `%x`: Representación de fecha apropiada para la configuración regional.
- `%X`: Representación de hora apropiada para la configuración regional.

**Ejemplos:**

- `%Y-%m-%d`: `"2024-07-28"`
- `%d/%m/%Y %H:%M:%S`: `"28/07/2024 19:01:49"`
- `%A, %d de %B de %Y`: `"Domingo, 28 de Julio de 2024"`
- `%I:%M %p`: `"07:01 PM"`